:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --Pink: #AD28EB;
}
@font-face {
    font-family: 'Work Sans';
    src: url(assets/fonts/WorkSans-VariableFont_wght.ttf), 
    url(assets/fonts/WorkSans-Italic-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--Light-pink);
    background-image: url(assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.card{
    width: 90%;
    max-width: 20.4375rem;
    background-color: var(--White);
    color: var(--Dark-purple);
    padding: 24px;
   border-radius: 8px;
}
.star, .heading {
    
    display: inline-block;
}
.star{
    width: 24px;
}
.heading{
    font-size: 2rem;
    padding-left: 24px;
    font-weight: 700;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question:hover {
    color: var(--Pink)
}
.title {
    font-weight: 600;
    font-size: 1rem;
    padding-right: 24px;

}
.expand{
    size: 30px;
    border: none;
    background-color: inherit;
    float: right;
    
}
.answer {
    display: none;
    font-size: 0.75rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--Grayish-purple);
    margin-top: 0;
}
hr{
    border-color: var(--Light-pink);
}